body{
	padding: 0;
	margin: 0;
}

/* Navigation bar */

.navbar{
	background: #6ab446;
}

.nav-link, div a, nav h2{
	color: #fff;
}

.nav-link, div a{
	cursor: pointer;
}


.nav-link:hover, div a:hover, .planner_links a:hover{
	color: #000;
}

.navbar-collapse{
	justify-content: flex-end;
}




/* Planning styling */

.planning_Game_Information div p{
	color: white;
}

.planning_Game_Information div p, .planning_Game_Edit_Links{
	margin: 5px 0px;
}